<ul id="scale-check-hotspot-editor">
	<li>IMPORTANT: Upload graphics that are twice the original size. They'll be scaled down to 50% so they look normal on computers and not pixelated on mobile devices.</li>
</ul>
<div class="hotsPotStyleTabs">
	<nav class="menuTabs">
		<ul>
			<li class="arrowTab modal-bt selected" data-content="arrowTab">Arrow</li>
			<li class="infoTab modal-bt" data-content="infoTab">Info</li>
			<li class="linkTab modal-bt" data-content="linkTab">Link</li>
			<li class="photoTab modal-bt" data-content="photoTab">Photo</li>
			<li class="videoTab modal-bt" data-content="videoTab">Video</li>
		</ul>
	</nav>

	<div class="tabContent">
		<div id="arrowTab" class="tab selected" data-id="1" data-name="arrow">
			<div class="add icons-wrapper">
				<div class="addStyle"><span class="fa fa-plus"></span></div>
				<h4 class="bold">ADD</h4>
			</div>

			<div class="icons none">
				<div class="up icons-wrapper left">
					<div class="addStyle selected" data-type="up">
						<span class="fa fa-plus"></span>
					</div>
					<h4 class="bold">UP</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="over icons-wrapper left">
					<div class="addStyle" data-type="over">
						<span class="fa fa-plus"></span>
					</div>
					<h4 class="bold">OVER</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="down icons-wrapper left">
					<div class="addStyle" data-type="down">
						<span class="fa fa-plus"></span>
					</div>
					<h4 class="bold">DOWN</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="infoTab" class="none tab" data-id="2" data-name="info">
			<div class="add icons-wrapper">
				<div class="addStyle"><span class="fa fa-plus"></span></div>
				<h4 class="bold">ADD</h4>
			</div>

			<div class="icons none">
				<div class="up icons-wrapper left">
					<div class="addStyle" data-type="up"></div>
					<h4 class="bold">UP</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="over icons-wrapper left">
					<div class="addStyle" data-type="over"></div>
					<h4 class="bold">OVER</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="down icons-wrapper left">
					<div class="addStyle" data-type="down"></div>
					<h4 class="bold">DOWN</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="linkTab" class="none tab" data-id="5" data-name="link">
			<div class="add icons-wrapper">
				<div class="addStyle"><span class="fa fa-plus"></span></div>
				<h4 class="bold">ADD</h4>
			</div>

			<div class="icons none">
				<div class="up icons-wrapper left">
					<div class="addStyle" data-type="up"></div>
					<h4 class="bold">UP</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="over icons-wrapper left">
					<div class="addStyle" data-type="over"></div>
					<h4 class="bold">OVER</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>                        
				</div>

				<div class="down icons-wrapper left">
					<div class="addStyle" data-type="down"></div>
					<h4 class="bold">DOWN</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="photoTab" class="none tab" data-id="3" data-name="photo">
			<div class="add icons-wrapper">
				<div class="addStyle"><span class="fa fa-plus"></span></div>
				<h4 class="bold">ADD</h4>
			</div>

			<div class="icons none">
				<div class="up icons-wrapper left">
					<div class="addStyle" data-type="up"></div>
					<h4 class="bold">UP</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="over icons-wrapper left">
					<div class="addStyle" data-type="over"></div>
					<h4 class="bold">OVER</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="down icons-wrapper left">
					<div class="addStyle" data-type="down"></div>
					<h4 class="bold">DOWN</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>
			</div>
		</div>

		

		<div id="videoTab" class="none tab" data-id="4" data-name="video">
			<div class="add icons-wrapper">
				<div class="addStyle"><span class="fa fa-plus"></span></div>
				<h4 class="bold">ADD</h4>
			</div>

			<div class="icons none">
				<div class="up icons-wrapper left">
					<div class="addStyle" data-type="up"></div>
					<h4 class="bold">UP</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="over icons-wrapper left">
					<div class="addStyle" data-type="over"></div>
					<h4 class="bold">OVER</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>

				<div class="down icons-wrapper left">
					<div class="addStyle" data-type="down"></div>
					<h4 class="bold">DOWN</h4>
					<div class="controls none">
						<span class="fa fa-trash"></span>
						<span class="fa fa-arrows-alt"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hotsPotStyleSelected">
	<h3 class="selectedSet">Selected: <span id="hp-type-selected"> Arrow</span> <span id="bt-selected"> </span></h3>
	<div class="data-group">
		<div class="rows">
			<label for="width">Width:</label>
			<input class="absoluteRight width" type="number" name="width" min="0">
		</div>
		
		<div class="rows">
			<label for="width">Height:</label>
			<input class="absoluteRight height" type="number" name="height" min="0">
		</div>
		
		<div class="rows">        
			<label for="width">X:</label>
			<input class="absoluteRight X" type="number" name="x" min="0">
		</div>
		
		<div class="rows">
			<label for="width">Y:</label>
			<input class="absoluteRight Y" type="number" name="y" min="0">
		</div>
	</div>
</div>