<div class="loading-bar-skill-editor">
    <div class="scrollwrapper">  
        <div class="inner-modal-wrapper">
            <div class="editor-group-2col">
                <div class="line-group">
                    <label for="loading-bar-align">Position:</label>
                    <div title="panos-format" id="loading-bar-align" class="dropdown dd-upload right-el">
                        <h2><span class="title"><%=tourSkill.layer._align.charAt(0).toUpperCase()+tourSkill.layer._align.slice(1)%></span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                        <ul>
                            <li data-value="top" data-name="<%=tourSkill.layer._name%>" data-prop="align" >Top</li>
                            <li data-value="center"data-name="<%=tourSkill.layer._name%>" data-prop="align" >Center</li>
                            <li data-value="bottom" data-name="<%=tourSkill.layer._name%>" data-prop="align" ><span>Bottom</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layer-top">
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-skill-offset">Offset:</label>
                        <input type="number" id="loading-bar-skill-offset" value="<%=tourSkill.layer._y %>" data-name="<%=tourSkill.layer._name%>" data-prop="y" >
                    </div>
                        
                    <div class="line-group">
                        <label for="loading-bar-width">Width:</label>
                        <%
                        var unit;
                        var cleanNumber;
                        if(tourSkill.layer._width.slice(-1) == "%"){
                            unit = "%";
                            cleanNumber = tourSkill.layer._width.replace("%","");
                        }else{
                            unit = "px";
                            cleanNumber = tourSkill.layer._width;
                        }
                        %>
                        <input type="number" id="loading-bar-width" value="<%=cleanNumber%>" data-name="<%=tourSkill.layer._name%>" data-prop="width">
                        <div title="unitsWloading" id="unitsWloading" class="dropdown right-el unitsDD" style="margin-left:65px;">
                            <h2><span class="title"><%=unit%></span><span class="fa fa-caret-down fa-lg right"></span></h2>
                            <ul>
                                <li data-value="">px</li>
                                <li data-value="%">%</li> 
                            </ul>
                        </div>
                    </div>
                        
                    <div class="line-group">
                        <label for="loading-bar-skill-height">Height:</label>
                        <input type="number" id="loading-bar-skill-height" value="<%=tourSkill.layer._height%>" data-name="<%=tourSkill.layer._name%>" data-prop="height">
                    </div>
                </div>

                <!--<h2 class="title-banner">Background</h2>-->
                
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-back-bgcolor">Background color:</label>
                        <input type="text" class="colorpicker" id="loading-bar-back-bgcolor" value="<%=tourSkill.layer._bgcolor.replace('0x','')%>" data-name="<%=tourSkill.layer._name%>" data-prop="bgcolor">
                    </div>
                    <div class="line-group">
                        <label for="loading-bar-skill-alpha">Background alpha:</label>
                        <input type="number" id="loading-bar-skill-alpha" value="<%=tourSkill.layer._bgalpha%>" data-name="<%=tourSkill.layer._name%>" data-prop="bgalpha" >
                    </div>
                </div>

                <!--<h2 class="title-banner">Bar:</h2>-->
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-bar-bgcolor">Bar color: </label>
                        <input type="text" id="loading-bar-bar-bgcolor" class="colorpicker" value="<%=tourSkill.layer.layer.layer._bgcolor.replace('0x','')%>" data-name="<%=tourSkill.layer.layer.layer._name%>" data-prop="bgcolor">
                    </div>
                    <div class="line-group">
                        <label for="loading-bar-bar-alpha">Bar alpha:</label>
                        <input type="number" id="loading-bar-bar-alpha" value="<%=tourSkill.layer.layer.layer._bgalpha%>" data-name="<%=tourSkill.layer.layer.layer._name%>" data-prop="bgalpha">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>