<div class="logo-skill-editor">
    <div class="scrollwrapper"> 
        <fieldset>
            <h3>Image</h3>
            <div id="logo-skill-editor-img" class="editor-img"></div>

            <div class="editor-group-2col">
                <div class="line-group">
                    <label class="logo-skill-position" for="logo-skill-align">Position:</label>
                    <div class="position" id="logo-skill-align">
                        <span class="fa fa-circle" data-pos="topleft"></span>
                        <span class="fa fa-circle" data-pos="top"></span>
                        <span class="fa fa-circle" data-pos="topright"></span>
                        <span class="fa fa-circle" data-pos="left"></span>
                        <span class="fa fa-circle" data-pos="center"></span>
                        <span class="fa fa-circle" data-pos="right"></span>
                        <span class="fa fa-circle" data-pos="bottomleft"></span>
                        <span class="fa fa-circle" data-pos="bottom"></span>
                        <span class="fa fa-circle" data-pos="bottomright"></span>
                    </div>
                </div>
            </div>

            <div class="single-input-group">
                <div class="line-group">
                    <label for="logo-skill-linkto">Links to:</label>
                    <% var url = tourSkill.plugin._onclick.replace("openurl(","") %>
                    <% url = url.replace(",_blank);","") %>
                    <input type="text" id="logo-skill-linkto" value="<%=url%>" data-prop="onclick"> 
                </div>
            </div> 

            <div class="editor-group-2col">
                <div class="line-group">
                    <label for="logo-skill-x">X margin:</label>
                    <input type="number" id="logo-skill-x" value="<%=tourSkill.plugin._x %>" data-prop="x" >
                </div>
                
                <div class="line-group">
                    <label for="logo-skill-x">Y margin:</label>
                    <input type="number" id="logo-skill-y" value="<%=tourSkill.plugin._y%>" data-prop="y" >
                </div>
                
                <div class="line-group">
                    <label for="logo-skill-zorder">Z order:</label>
                    <input type="number" id="logo-skill-zorder" value="<%=tourSkill.plugin._zorder%>" data-prop="zorder">
                </div>
            </div>          
                      
        </fieldset>
    </div>

    <footer>
    </footer>
</div>

