<span class="cancel-img bt-uploader">Cancel</span>
<div class="image-uploader-wrapper">
    <div class="inner-dragger">
        <div class="dragable" id="single-drop-zone">
            <div class="fa fa-cloud-upload"></div>
            <h2>Drag and drop your image *<br>on this area.</h2>
            <h3 id="single-click-to-select-file">or click to select from your computer</h3>
            <input id="upload_button" class="browseFile" type="file" multiple="multiple" value="">
        </div>
    </div>

    <p><%=textMessage%></p>
</div>

