<div class="search">
    <input type="text" placeholder="Search skills" id="skill-list-search">
    <span class="clear-btn sort-btn">Clear</span>
</div>

<div id="skill-search-results"></div>

<div class="skills">
    <div class="free-skills">
        <h2>Free skills:</h3>
        <p class="loading">Loading...</p>
        <ul class="skill-list">
            
        </ul>
        
    </div>
    <div class="advanced-skills">
        <h2>ADVANCED users skills:</h3>
        <ul class="skill-list">
            
        </ul>
    </div>
    <div class="pro-skills">
        <h2>PRO users skills:</h3>
        <ul class="skill-list">
            
        </ul>
    </div>
    
</div>