<div class="liveTourModal">
    <h2>Share your tour in your preferred social networks</h2>

    <ul class=" check-group">
        <div class="col-2 left-col">
            <li class="social-btn spinattic">
                <span class="fa fa-check"></span>
                <div class="spinattic-share"></div>
            </li>

            <li class="social-btn facebook">
                <span class="fa unchecked"></span>
                <div data-type="facebook" data-txt="facebook text" class="csbuttons"></div>
            </li>
        </div>
        <div class="col-2 right-col">
            <li class="social-btn twitter">
                <span class="fa unchecked"></span>
                <div data-type="twitter" data-txt="twitter text" data-via="twitterVia" class="csbuttons"></div>
            </li>
            <li class="social-btn gplus">
                <span class="fa unchecked"></span>
                <div data-type="google" class="csbuttons"></div>
            </li>
        </div>
    </ul>

    <footer>
        <span class="cancel uploader-btn red left">Not now</span>
        <span class="save uploader-btn green inlineBlock right">Share</span>
    </footer>
</div>