<div class="map-wrapper">
    <label for="searchLocation" class="fontBold13em">Search Location</label>
    <input type="text" class="location" name="location">

    <div class="map_canvas"></div>

    <div class="geoMap">
        <div class="double-inputs">
            <label for="lat"  class="fontBold13em">Lat:</label>
            <input type="text" class="latFld" name="latFld">
        </div>
        <div class="double-inputs right">
            <label for="long" class="fontBold13em">Long:</label>
            <input type="text" class="lngFld" name="lngFld">
        </div>
    </div>
</div>
                