<div id="skinCustomizer-menu" class="submenu land-submenu">
    <div class="inner">
        <div class="panel-wrapper">
            <header>
                <h2 class="positionRelative">
                    Skin Costumizer: 
                    <!--<span class="fa fa-save middlePosition"></span>
                    <span class="fa fa-folder-open absoluteRight"></span> -->
                </h2>       
            </header>
            <ul class="skill-list"></ul>
            <a class="add-link"><i class="fa fa-plus"></i> Add a skill</a>
        </div>
    </div>
</div>