<div id="viewSettings-menu" class="submenu">
    <header>
        <h2>Startup view:</h2>
        <!--<dl>
            <dt>H:</dt>
            <dd>90</dd>
            <dt>V:</dt>
            <dd>-180</dd>
            <dt>FOV:</dt>
            <dd>135</dd>
        </dl>-->
        <div class="input-label-3column">
            <label for="hor">Hor.</label>
            <input type="number" name="hor" id="hor" value="-180">
        </div>

        <div class="input-label-3column">
            <label for="vert">Vert.</label>
            <input type="number" name="vert" id="vert" value="-90">
        </div>

        <div class="input-label-3column">
            <label for="fov">FOV</label>
            <input type="number" name="fov" id="fov" value="90">
            <span class="help fa fa-question-circle"></span>
        </div>
    </header>

    <section>
        <h2>View settings:</h2>  

        <div class="input-row">
            <label for="fov-min">FOV minimum</label>
            <input type="number" name="fov-min" id="fov-min" value="135">
            <span class="help fa fa-question-circle"></span>
        </div>

        <div class="input-row">
            <label for="fov-max">FOV maximum</label>
            <input type="number" name="fov-max" id="fov-max" value="90">
            <span class="help fa fa-question-circle"></span>
        </div>

        <!--<div class="input-row">
            <label for="max-zoom">Maximum pixel zoom</label>
            <input type="number" id="max-zoom" name="max-zoom" value="1" step="0.1">
            <span class="help fa fa-question-circle"></span>
        </div>-->

    </section>    
</div>
