footer.main-footer{
	@extend %full-width;
	position: fixed;
	bottom: 0;
	height: 120px;
	border-top: 2px solid #000;
	z-index: 2;
	display: none;

	.scene-wrapper{
		@extend %full-width;
		border-top: 1px solid #333;
		float: left;
		height: 70px;
		overflow: auto; 

		ul#sceneMenu{
			clear: both;
			float: left;
			padding: 10px;

			li{
				float: left;
				width: 100px;
				height: 50px;
				margin-right: 10px;
				position: relative;

				&:hover{
					img{
						border: 2px solid #FFF;
					}

					.selector-scene{
						display: block;
					}
				}
				
				img{
					border: 2px solid $dark-gray;
					max-width: 100%;
				}

				.drag-icon{
					background: url(../images/dragicon.png);
					width: 18px;
					height: 19px;
					position: absolute;
					top: 4px;
					left: 4px;
				}   

				.selector-scene{
					background-image: url(../images/scene_selector_icon.png);
					background-position:0 0;
					top: 5px;
					right: 5px;
					position: absolute;
					display: none;
					cursor: pointer;
					width:10px;
					height:10px;

					&.selected{
						background-position:0 10px;
						display:block;
					}
				}

				&.selected{
					img{
						border-color: #FFF;
					}
				}
			}

			li.empty{
				border: dashed-pano(2px,$light-gray);
				background: $middle-gray;
				text-align: center;
				color: $light-gray;
				line-height: 60px;
			}
		}

		#mCSB_1_scrollbar_horizontal{
			bottom: auto;
			top: -1px;
			height: 10px;
			
			.mCSB_dragger_bar, .mCSB_draggerRail{
				height: 10px;
				margin: 0;
			}

			.mCSB_draggerRail{
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				background-color: #333;
			}
		}
	}

	menu{
		height: 40px;
		padding: 5px;
		
		menuitem{
			@extend %button-gray;
			padding: 5px 15px;
			height: 27px;
			line-height: 30px;
			margin-right: 10px;
			margin-left: 5px;
			font-weight: bold;

			&:hover, &:active{
				@include linear-gradient(#1c1c1c, #282828);
			}

			&:active {
				@include shadow-btn(1px, 3px, 0.8, "inset");
			}
		}
	}

	menu.left-footer-menu{
		float: left;

		i{
			font-size: 2.5rem;
			margin-right: 10px;
		}

		 #remove-selected-scene{
			border:1px solid #F00;

			i{
				font-size:1.3rem;
			}
		 }
	}

	menu.right-footer-menu{
		float: right;
		menuitem{
			border: 1px solid $dark-gray;
			margin-right: 0;
			padding: 0 10px;
			margin-top: 4px;

			i {
				font-size: 1.5em;
			}

			&:hover {
				border: 1px solid #000;
			}
		}
	}

	.uploaderBallon{
		max-width: 700px;
		background: $dark-gray;
		position: absolute;
		bottom: 130px;
		left: 10px;
		border: 1px solid #000;
		display:none;
		width: 90%;
		&:after{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 0;
			border-color: $dark-gray transparent;
			display: block;
			width: 0;
			z-index: 1;
			bottom: -15px;
			left: 110px;
		}

		&:before{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 0;
			border-color: #000000 transparent;
			display: block;
			width: 0;
			z-index: 0;
			bottom: -16px;
			left: 110px;
			}
	
		.dragger-wrapper{
			top:0;
			height:100%;
			.inner-dragger{
				border:none;
				margin-left: 0;
				margin-right: 0;
			}

		.uploader-footer{
			z-index: 100;
		}
		
		}
	}
}


#reloadMsg{
	  background-color: rgba(0,0,0,0.5);
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 1000; 

	  p{
		margin-top: 25%;
		text-align: center;
		font-size: 2rem;
		color: #FFF;
	  }
}

.patent{
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:1.3rem;
	color:#797979;
	z-index:2;
}