$font: 'Open Sans', sans-serif;
/*color*/
$dark-gray: #232323;
$dark-gray-2: #1a1a1a;
$dark-gray3: #222;
$dark-gray4: #2b2b2b;
$dark-gray5: #111;
$spinattic: #3b3b3b;
$light-gray: #535353;
$lighter-gray: #e0e0e0;
$light-gray2: #ccc;
$light-gray3: #999;
$light-gray4: #efefef;
$light-gray5: #bfbfbf;
$light-gray6: #dadada;
$middle-gray: #333333;
$middle-gray1: #444;
$middle-gray2: #666;
$blue: #4faddf;
$blue2: #3895c7;
$blue3: #097bc1;
$purple: #9259a8;
$green: #497f3c;
$green2: #68b858;
$yellow: #fad368;
$light-blue: #51ace4;
$light-blue1:#d6e3f3;
$red: #d32f31;
$topSideBar: 124px;
$black-transparent-80: rgba(0, 0, 0, 0.8);
$black-transparent-75: rgba(0, 0, 0, 0.75);
$black-transparent-65: rgba(0, 0, 0, 0.65);
$black-transparent-40: rgba(0, 0, 0, 0.40);
$facebook-blue:#3b5b96;
$twitter-blue:#2bcdfa;
$gplus-red:#db523c;
