<menu class="left-footer-menu">
	<menuitem id="pano-uploader"><i class="fa fa-cloud-upload fa-lg"></i>&nbsp;Upload more panos</menuitem>
	<menuitem id="add-pano-manager"><i class="fa fa-plus fa-lg"></i>&nbsp;Add from panos manager</menuitem>
	<menuitem id="remove-selected-scene" class="none"><i class="fa fa-trash"></i>&nbsp;Remove selected scene</menuitem>
</menu>
<div class="uploaderBallon">
	
</div>
<menu class="right-footer-menu">
	<menuitem id="footer-hide-show"><i class="fa fa-angle-double-down fa-lg"></i></menuitem>
<menu>